body { background: #9ff4d0; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 31px; display: flex; }
.block-config-0 { color: #d95cc1; font-size: 17px; margin-bottom: 5px; }
.block-email-1 { color: #aeab71; font-size: 19px; margin-bottom: 5px; }
.block-router-2 { color: #9111ae; font-size: 16px; margin-bottom: 5px; }
.block-filter-3 { color: #d65b41; font-size: 13px; margin-bottom: 5px; }
.block-user-4 { color: #4c7a2c; font-size: 20px; margin-bottom: 5px; }
.block-order-5 { color: #ef28e5; font-size: 14px; margin-bottom: 5px; }